@model IEnumerable<奈班级学生管理系统.Models.Course>
@using PagedList.Mvc;

@{
    PagedList.IPagedList<奈班级学生管理系统.Models.Course> mypaggelist = (PagedList.IPagedList<奈班级学生管理系统.Models.Course>)ViewBag.mypagelist;
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
  
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />


    <!--初始化代码-->
   

    <link href="~/模态框样式/modal.css" rel="stylesheet" />
    <!-- 引入分页样式 -->
    <!-- 引入组件库 -->




</head>
<body>
    <!-- 头部导入导出stare -->

    <div style="padding-top:10px; padding-bottom:50px;">
        <div style="float:right;margin-left:10px;">
            <span class="btn text-align-center">

                <a href="#" class="btn" id="triggerBtn">  <img src="~/icons/daochu.png" style="width:20px; height:auto;" />导入课程明细</a>

                <img src="~/icons/daochu.png" style="width:20px; height:auto;" />@Html.ActionLink("导出课程明细", "ExportExcel", "Courses")
            </span>
        </div>
    </div>

    <!-- 头部导入导出end -->
    <!-- 模态框stare -->
    <div id="myModal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <h3>导入课程明细</h3>
                <span id="closeBtn" class="close">×</span>
            </div>
            <div class="modal-body ">
                @using (Html.BeginForm("Import", "Courses", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class=" container text-align-center">
                        <input name="file" type="file" id="=file" class="mystyle " />
                    </div>
                    <br />
                    <br />
                    <div class=" container text-align-center">
                        <input name="submit" id="submit" type="submit" class="btn  btn-success" value="批量导入" />
                    </div>
                }
            </div>

        </div>
    </div>
    <!-- 模态框end -->
    <!-- 内容stare -->
    

    <div class="col-sm-12 select-table table-striped">
        <table id="bootstrap-table"></table>
    </div>

    <table id="myTable" class=" display table table-bordered">
        <thead>
            <tr class="text-align-center">

                <th>
                    课程名称
                </th>
                <th>
                    学分
                </th>
                <th>
                    学时
                </th>
                <th>
                    通过率
                </th>
                <th>
                    任课老师
                </th>
                <th>操作</th>
            </tr>
        </thead>
        @foreach (var item in mypaggelist)
        {
            <tbody>
                <tr>



                    <td>
                        @Html.DisplayFor(modelItem => item.CourseName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Credit)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreditTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rate)%
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rteacher)
                    </td>
                    <td class="btn-group-sm">
                        <a class="btn" style="background-color: #6dd9c3; color:white;" href="~/Courses/Edit?id=@item.CourseID" id="triggerBtnxg">修改</a>
                        <a class="btn" style="background-color: #f59da6; color: white; " href="/Courses/Delete?id=@item.CourseID">移除</a>
                        @*<a href="#" class="btn" id="triggerBtnxg">  <img src="~/icons/daochu.png" style="width:20px; height:auto;" />修改</a>*@

                        @*   @Html.ActionLink("查看详情", "Details", new { id = item.CourseID }, new { @class = "btn btn-danger" }) *@
                    </td>
                    @*
                        @Html.ActionLink("移除", "Delete", new { id = item.CourseID }, new { @class = "btn btn-danger" })

                                    @Html.ActionLink("修改", "Edit", new { id = item.CourseID }) |
                        @Html.ActionLink("查看详情", "Details", new { id = item.CourseID })|
                        @Html.ActionLink("移除", "Delete", new { id = item.CourseID })*@
                    @*        @Html.ActionLink("Create", "Create")*@


                </tr>
            </tbody>
        }

    </table>
    每页 @mypaggelist.PageSize 条记录,共 @mypaggelist.PageCount 页，当前 @mypaggelist.PageNumber 页
    @Html.PagedListPager(mypaggelist, Page => Url.Action("Index", new { Page }))


    <!-- 内容end -->
    <!-- 模态框end -->
    <!-- 模态框jsstare -->


    <script src="~/模态框样式/modal.js"></script>
    @*
        <script type="text/javascript">
            $(document).ready(function () {
               $('#myTable').DataTable({


                });

            });

        </script>*@
    <script>

    </script>
</body>
</html>
